/* Landing.css */

/* Container styles */
.landing-container {
    /* padding-top: 8rem; */
    display: flex;
    justify-content:flex-start;
    padding: 8rem;
  }
  
  /* Grid styles */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }

  
  
  /* Heading styles */
  .grid-item h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: rgb(228, 215, 215);
  }

  .grid-item img{
    display: flex;
    justify-content:center;
    max-width: 500px;
    margin: 1rem;
  }


  
  /* Button styles */
  .button-container {
    margin-top: 1rem;
  }
  
  .play-button {
    background-color: #3b82f6;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
  }
  
  .play-button:hover {
    background-color: #2563eb;
  }
  